@charset "utf-8";
/*
*首页样式
*/
.header-wrap { width: 100%; height: 50px; line-height:48px; background:#dd313c; position: relative; }
.htsearch-wrap { padding:0px 50px 0px 10px; }
.htsearch-wrap .search-btn { top: 8px; right: 0px; }
.htsearch-input { height: 30px; border:0px; width: 100%; vertical-align: middle; font-weight: normal; font-size: 14px; -webkit-appearance:none;text-align: center;border-radius: 0; }
body { -moz-user-select: none; /*火狐*/ -webkit-user-select: none; /*webkit浏览器*/ -ms-user-select: none; /*IE10*/ -khtml-user-select: none; /*早期浏览器*/ user-select: none; -webkit-tap-highlight-color: rgba(255, 255, 255, 0); -webkit-focus-ring-color: rgba(0, 0, 0, 0); -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; padding: 0; margin: 0; background-color: #EBEBEB; color: #000; font-family: 'microsoft yahei', Verdana, Arial, Helvetica, sans-serif; font-size: 16px; line-height: 1.25em; }
.main { max-width: 640px; min-width: 320px; margin: 0 auto; overflow: hidden; }
.footer { width: 100%; min-width: 320px; margin: 0 auto; overflow: hidden; }
.index_block { width: 100%; clear: both; margin-top: .1em; border-top: solid 1px #D1D1D1; border-bottom: solid 1px #D1D1D1; overflow: hidden;background-color: white; }
.index_block .title { font-size: 1em; color: #777; background-color: #FFF; padding: .3em; }
/* 块模型布局B、D */
.home2 .content { font-size: 0; background-color: #FFF; *word-spacing: -1px/*IE6、7*/;
white-space: nowrap; border-top: solid 1px #D1D1D1; overflow: hidden; }
.home2_1, .home2_2 { font-size: 12px; vertical-align: top; letter-spacing: normal; display: inline-block; *display: inline/*IE7*/;
width: 50%; *zoom:1/*IE7*/;
}
.home2 .border-left { border-left: 1px solid #D1D1D1; }
.home2 .border-right { border-right: 1px solid #D1D1D1; }
.home2 .border-bottom { border-bottom: 1px solid #D1D1D1; }
.home3 .content { font-size: 0; background-color: #FFF; *word-spacing: -1px/*IE6、7*/;
}
.home3 .item { letter-spacing: normal; vertical-align: top; display: inline-block; *display: inline/*IE7*/;
width: 23%; margin: 1%; *zoom:1/*IE7*/;
}
.item img { width: 100%; display: block; }
.swipe { overflow: hidden; visibility: hidden; position: relative; }
.swipe-wrap { overflow: hidden; position: relative; }
.swipe-wrap > div { float: left; width: 100%; position: relative; }
.swipe-wrap img { width: 100%; max-height: 240px; min-height: 120px; }
.goods { border: none; }
.goods .title { background-color: transparent; padding: 8px; }
.goods .content { font-size: 0; *word-spacing: -1px/*IE6、7*/;
}
.goods-item { position:relative; font-size: 16px; background-color: #FFF; letter-spacing: normal; vertical-align: top; display: inline-block; *display: inline/*IE7*/;
width: 48%; margin: 1%; border-radius: 5px; *zoom:1/*IE7*/;
box-shadow: 0 1px 2px rgba(0,0,0,0.15); }
.goods-item a { display: block; }
/*.goods-item-pic { display: block; max-width: 240px; min-width: 120px; max-height: 240px; min-height: 120px; margin: 8px auto 0 auto; }*/
.goods-item-pic { display: block; margin: 8px auto 0 auto; height:210px;text-align: center;line-height: 210px;}
/*.goods-item-pic img { width: 100%; }*/
.goods-item-pic img {vertical-align:middle;}
.goods-item-name { font-size: 0.8em; line-height: 18px; color: #777; height: 36px; padding: 8px 8px 0 8px; margin-bottom: 8px; overflow:hidden; }
.goods-item-price { font-size: 1em; color: #F30; height: auto; padding: 8px 0; margin: 0 8px; border-top: dotted 1px #D1D1D1; }
.goods-item i { font-style: normal; height: 88px; left: 0; overflow: hidden; position: absolute; top: 0; width: 88px; }
.goods-item i div { background: #f54246; font-size: 16px; width: 104px; height: 42px; position: absolute; color: #fff; top: -10px; left: -40px; z-index: 3; text-align: center; line-height: 62px; overflow: hidden; -webkit-transform: rotate(-45deg); }
.goods-price { font-size: 0.8em; color: #777; text-decoration:line-through; margin-left:5px; }
.with-home-logo { background-image: url(../../data/upload/shop/common/home_logo.png); background-repeat: no-repeat; background-position: 10px 5px; padding-left: 135px; }
/*@nav*/
.nav-ico {background: #FFFFFF; padding: 3px 0; margin-bottom: 3px; border-bottom: 1px solid #D5D5D5; }
/*@nav*/

.nav-ico a { float: left; width: 25%; text-align: center; height: 56px; font-size: .75rem;
color:#666666; position: relative; }
.nav-ico i { width: 40px; height: 40px; display: block; margin: 0 auto; }
.nav-ico a:nth-child(1) i { background: url(../images/nav_1.jpg) no-repeat; background-size: 40px 40px; }
.nav-ico a:nth-child(2) i { background: url(../images/nav_2.jpg) no-repeat; background-size: 40px 40px; }
.nav-ico a:nth-child(3) i { background: url(../images/nav_3.jpg) no-repeat; background-size: 40px 40px; }
.nav-ico a:nth-child(4) i { background: url(../images/nav_4.jpg) no-repeat; background-size: 40px 40px; }
.nav-ico a:nth-child(5) i { background: url(../images/nav_5.jpg) no-repeat; background-size: 40px 40px; }
.nav-ico a:nth-child(6) i { background: url(../images/nav_6.jpg) no-repeat; background-size: 40px 40px; }
.nav-ico a:nth-child(7) i { background: url(../images/nav_7.jpg) no-repeat; background-size: 40px 40px; }
.nav-ico a:nth-child(8) i { background: url(../images/nav_8.jpg) no-repeat; background-size: 40px 40px; }
.nav-ico a:nth-child(5), .nav-ico a:nth-child(6), .nav-ico a:nth-child(7), .nav-ico a:nth-child(8) { margin-top: 12px; }

/*每日一品*/
.home1{margin:10px;background: #fff;}
.top_left{padding-left:15px;padding-top:8px;float:left;}
.top_word{display: inline-block;float:left;padding-left:5px;padding-top:10px;}
.remain_word{display:inline-block;width:120px;font-size:15px; background: url(../images/sale.png) -10px 0 no-repeat;letter-spacing:2px;color:#fff;font-weight: normal;text-indent:8px;margin-left:5px;margin-top:11px;}
.remain_time{ border:#999 1px solid;padding:0 1px;margin:0 2px;font-size:12px; background-color:black; color: white}
.home1 p{display:inline-block;margin-left:-20px;}

.everyday_goods{padding:10px 15px 0 15px;z-index: 60;position:relative;}
.saled{position:absolute;font-size:14px;z-index:100;top:4px;right:11px;width:25%;height:25%;color:#fff;line-height:16px;padding-top:10px;padding-right:5px;background-image: url(../images/triangle.png);background-size: 100% 100%;background-repeat:no-repeat;text-align:right}.goods_number{font-size:30px;}
.introduce{display:block;font-weight:100;width:100%;height:10%;background:#726c68;color:#fff;margin-top:-5px;line-height: 25px;}.bottom{position:relative;width:100%;height:40px;}
.price{position:absolute;left:0%;top:20%;}
.price_now{display:inline-block;font-size: 1.3em;color:#d21f1f;}
.price_ago{display:inline-block;font-size: 1.0em;color:#a8a8a8;text-decoration:line-through;left:35%}
.l-btn-sale{font-size:18px;font-weight:100;position:absolute;display:inline-block;width:90px;height:30px;background:#d21f1f;line-height: 30px;color:#fff;text-align: center;right:0%;top:10%;}
.header-back{position: absolute;top: 8px;left: 6px;width: 30px;height: 32px;}
.header-back span{width: 38px;height: 38px;text-indent:-9999px;background-position: -76px 2px;}
.search_range{float:left;font-size:15px;width:60px;height:100%;background:#fff;overflow: hidden;}
.search-input{float:left;height: 100%; border:0px; width:75%; font-weight: normal; font-size: 14px;border-radius: 0px; vertical-align:middle;}
.top{width:75%;height:30px;text-align:center;margin:0 auto;line-height:30px;padding-top:10px;}
.search-btn{margin-top:10px;}